
/* Headings */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;

}

/* classes */
.header_main {
  font-size: 50px;
  font-weight: normal;
  color: white;

}
.header_secondary {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

.header_subheader {
  font-size: 21px;
  color: gray;
}

.link_cta {
color: aquamarine;
font-size: 16px;

}


.footer {
  text-align: right;
  color: gray;
  font-size: 21px
}
